Example

set clk_main_period 10
create_clock -name $clk_name -period $clk_main_period [get_ports i_CLK]
set_dont_touch_network [get_clocks clk]  
set_input_delay -max 0.31 [all_inputs] -clock $clk_name
set_output_delay -max 0.14 [all_outputs] -clock $clk_name
remove_input_delay [get_ports i_CLK]
remove_input_delay [get_ports i_RST]
set_cost_priority -delay
set_fix_hold [get_clocks clk]
set timing_disable_clock_gating_checks true

#set startpoints \
	[add_to_collection [all_input] \
	[all_registers -clock_pins]]

#set endpoints \
	[add_to_collection [all_outputs] \
	[all_registers -data_pins]]

#foreach_in_collection startpt $startpoints {
#	set start_pin [get_object_name $startpt]
#	group_path -name $start_pin -from $start_pin -critical_range 3.0 
#}

#foreach_in_collection endpt $endpoints {
#	set end_pin [get_object_name $endpt]
#	group_path -name $end_pin -to $end_pin -critical_range 3.0 
#	}

#set_min_delay -from [get_cells a_reg[31]] -to [get_cells a_s_reg] -0.08

#group_path -name a_reg -from [get_cells a_reg[31]] -to [get_cells a_s_reg] -weight 

#set endpoints \
	[add_to_collection [all_outputs] \
	[all_registers -output_pins]]
#foreach_in_collection endpt $endpoints {
#	set pin [get_object_name $endpt]
#	group_path -name $pin -to $pin -critical_range 3.0
#}
